### generator-chrome-extension ###
node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Intellij ###
*.iml
.idea/

### app ###
app/styles/*.css