<!doctype html>
<html ng-csp>
<head>
  <meta charset="utf-8">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css"/>
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css"/>
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="tokyoAmeApp">

<div ng-controller="MainCtrl" ng-init="init()">

  <div class="titlebar">
    <span class="titlebar-icon"><i class="fa fa-umbrella"></i></span>
    <span class="titlebar-text">Tokyo Amesh</span>
    <span class="titlebar-close-button" ng-click="close()"><i class="fa fa-times"></i></span>
  </div>

  <div class="contents">
    <div class="map-container" ng-controller="MapCtrl as map" ng-init="init()">
      <div class="map">
        <div class="date-time date-time-recorded" ng-bind="recordedDate | date : 'yyyy/MM/dd HH:mm'">&nbsp;</div>
        <div id="mapArea" class="mesh-map-area">
          <img class="background-map" ng-src="images/map/map{{scale}}.jpg" src="images/map/map100.jpg" width="3080" height="1920" alt=""/>
          <img id="rainFallMesh" class="rainfall-mesh" src="images/spacer.gif" width="3080" height="1920" alt=""/>
          <img class="foreground-map" ng-src="images/map/msk{{scale}}.png" src="images/map/msk100.png" width="3080" height="1920" alt=""/>
        </div>
      </div>
    </div>
    <div class="record-container" ng-controller="RecordCtrl" ng-init="init()">
      <a class="btn btn-default" ng-click="play()" ng-hide="isPlaying"><i class="fa fa-play"></i></a>
      <a class="btn btn-default ng-hide" ng-click="stop()" ng-show="isPlaying"><i class="fa fa-stop"></i></a>
      <a id="stepPrevButton" class="btn btn-default" ng-click="stepPrev()"><i class="fa fa-step-backward"></i> 5分戻</a>
      <a id="stepNextButton" class="btn btn-default" ng-click="stepNext()"><i class="fa fa-step-forward"></i> 5分進</a>
      <a id="goToLatestButton" class="btn btn-default" ng-click="goToLatest()"><i class="fa fa-fast-forward"></i></a>
      <!-- hack! ng-click dose not work without wrapping slider -->
      <span class="recorder-slider-container">
        <span id="recorderSlider" class="recorder-slider"></span>
      </span>
      <a class="btn btn-default" ng-click="toggleScale()" ng-show="scale == tokyoScale"><i class="fa fa-expand"></i> 全域</a>
      <a class="btn btn-default ng-hide" ng-click="toggleScale()" ng-show="scale == wholeScale"><i class="fa fa-compress"></i> 拡大</a>
    </div>
  </div>
  <footer class="footer">
    <span class="footer-text">
      Powered by <a href="http://tokyo-ame.jwa.or.jp/" target="_blank" tabindex="1">東京アメッシュ</a>
      <span class="date-time date-time-updated" ng-bind="updatedDate | date : 'yyyy/MM/dd HH:mm 更新'"></span>
    </span>
  </footer>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/popup.js -->
<script src="scripts/popup.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/record.js"></script>
<script src="scripts/services/amesh.js"></script>
<script src="scripts/services/options.js"></script>
<!-- endbuild -->
</body>
</html>
